In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-09 22:35:15,-23.1203,-134.9692,78.91,68,50,6.76
1,1,La Orilla,MX,2022-03-09 22:35:15,17.9833,-102.2333,80.85,53,11,11.12
2,2,Hermanus,ZA,2022-03-09 22:35:15,-34.4187,19.2345,68.90,89,78,8.34
3,3,Kununurra,AU,2022-03-09 22:35:16,-15.7667,128.7333,80.58,89,51,0.00
4,4,Khatanga,RU,2022-03-09 22:35:16,71.9667,102.5000,-4.32,97,100,5.84

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
city_data_df["Max Temp"]

0      78.91
1      80.85
2      68.90
3      80.58
4      -4.32
       ...
562    42.49
563    74.07
564    28.89
565    48.15
566    51.75
Name: Max Temp, Length: 567, dtype: float64

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
max_temp

0      78.91
1      80.85
2      68.90
3      80.58
4      -4.32
       ...
562    42.49
563    74.07
564    28.89
565    48.15
566    51.75
Name: Max Temp, Length: 567, dtype: float64

In [9]:
new_york_coordinates = (40.75, -74.00)
gmaps.figure(center=new_york_coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-09 22:35:15,-23.1203,-134.9692,78.91,68,50,6.76
1,1,La Orilla,MX,2022-03-09 22:35:15,17.9833,-102.2333,80.85,53,11,11.12
3,3,Kununurra,AU,2022-03-09 22:35:16,-15.7667,128.7333,80.58,89,51,0.00
8,8,Sechura,PE,2022-03-09 22:35:17,-5.5569,-80.8222,80.71,61,50,15.66
9,9,Bengkulu,ID,2022-03-09 22:35:18,-3.8004,102.2655,75.52,86,99,4.03
17,17,Atuona,PF,2022-03-09 22:35:20,-9.8000,-139.0333,79.05,77,23,14.74
24,24,Mackay,AU,2022-03-09 22:35:20,-21.1500,149.2000,86.04,89,6,0.00
25,25,Kapaa,US,2022-03-09 22:35:22,22.0752,-159.3190,81.12,67,0,9.22
26,26,Souillac,MU,2022-03-09 22:35:22,-20.5167,57.5167,79.18,89,40,0.00
31,31,Pitimbu,BR,2022-03-09 22:35:24,-7.4706,-34.8086,81.19,76,82,12.77

In [15]:
preferred_cities_df.count()

City_ID       158
City          158
Country       157
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [16]:
preferred_cities_df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      City_ID   City  Country   Date    Lat    Lng  Max Temp  Humidity  \
0      False  False    False  False  False  False     False     False
1      False  False    False  False  False  False     False     False
3      False  False    False  False  False  False     False     False
8      False  False    False  False  False  False     False     False
9      False  False    False  False  False  False     False     False
..       ...    ...      ...    ...    ...    ...       ...       ...
541    False  False    False  False  False  False     False     False
546    False  False    False  False  False  False     False     False
547    False  False    False  False  False  False     False     False
553    False  False    False  False  False  False     False     False
555    False  False    False  False  False  False     False     False

     Cloudiness  Wind Speed
0         False       False
1         False       False
3         False       False
8         False       False
9         False       False
..          ...         ...
541       False       False
546       False       False
547       False       False
553       False       False
555       False       False

[158 rows x 10 columns]>

In [17]:
preferred_cities_df = preferred_cities_df.dropna()

In [18]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0     Rikitea      PF     78.91 -23.1203 -134.9692
1   La Orilla      MX     80.85  17.9833 -102.2333
3   Kununurra      AU     80.58 -15.7667  128.7333
8     Sechura      PE     80.71  -5.5569  -80.8222
9    Bengkulu      ID     75.52  -3.8004  102.2655
17     Atuona      PF     79.05  -9.8000 -139.0333
24     Mackay      AU     86.04 -21.1500  149.2000
25      Kapaa      US     81.12  22.0752 -159.3190
26   Souillac      MU     79.18 -20.5167   57.5167
31    Pitimbu      BR     81.19  -7.4706  -34.8086

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0     Rikitea      PF     78.91 -23.1203 -134.9692
1   La Orilla      MX     80.85  17.9833 -102.2333
3   Kununurra      AU     80.58 -15.7667  128.7333
8     Sechura      PE     80.71  -5.5569  -80.8222
9    Bengkulu      ID     75.52  -3.8004  102.2655
17     Atuona      PF     79.05  -9.8000 -139.0333
24     Mackay      AU     86.04 -21.1500  149.2000
25      Kapaa      US     81.12  22.0752 -159.3190
26   Souillac      MU     79.18 -20.5167   57.5167
31    Pitimbu      BR     81.19  -7.4706  -34.8086

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.91,-23.1203,-134.9692,People ThankYou
1,La Orilla,MX,80.85,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
3,Kununurra,AU,80.58,-15.7667,128.7333,Hotel Kununurra
8,Sechura,PE,80.71,-5.5569,-80.8222,Hospedaje Costa Bella
9,Bengkulu,ID,75.52,-3.8004,102.2655,Grage Hotel Bengkulu
17,Atuona,PF,79.05,-9.8000,-139.0333,Villa Enata
24,Mackay,AU,86.04,-21.1500,149.2000,International Lodge Motel
25,Kapaa,US,81.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
26,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
31,Pitimbu,BR,81.19,-7.4706,-34.8086,Reserva do Abiaí

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))